# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
Icon?

# Go language
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.prof
vendor/
bin/
out/

# Node
node_modules/

# Plans
plans/
